#header {
  background: #006400;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Gloria Hallelujah", cursive;

  a {
    color: #fff;
  }

  a:hover {
    text-decoration: none;
  }

  span {
    float: right;
    color: #fff;
  }
}

#recipe-list {
  margin-top: 50px;
  font-family: "Dancing Script", cursive;
}

.recipe {
  font-size: 30px;
  background: bisque;
  margin-bottom: 15px;
  padding-left: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

  div {
    font-size: 18px;
    margin-top: 0px;
  }
}

.Collapsible__trigger {
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.button-group {
  margin: 33px;
  float: right;
}

footer {
  color: #fff;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: relative;
  text-align: left;
  background-color: grey;
  margin-top: 25px p a {
    color: red;
  }

  p a:hover {
    text-decoration: none;
    color: #fff;
  }
}

#main {
  min-height: 423px;
}

.App {
  background-image: url(https://static.pexels.com/photos/255501/pexels-photo-255501.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
